<tr id="to_do_list_item<%= to_do_list_item.id %>" class="<%= 'done' if to_do_list_item.done? %>">
  <td>
      <%= form_with model: to_do_list_item, url: to_do_list_item_done_url(to_do_list_item) do |f| %>
        <%= f.check_box :done %>
        <%= f.submit 'Send', style: 'display: none'  %>
      <% end %>
  </td>
  <td>
    <%= best_in_place to_do_list_item, :content, url: '#', inner_class: 'form-control' %>
  </td>
  <td><%= link_to I18n.t('to_do_list_item.delete'), to_do_list_item_url(to_do_list_item), method: :delete, class: 'btn btn-danger btn-sm float-right', remote: true %></td>
</tr>
