<!DOCTYPE html>
<html>
  <head>
    <title>ToDo Lists App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">ToDo Lists App</h1>
      <hr>
      <%= render 'layouts/navigation' %>
      <hr>
    </div>
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <p class=text-center>-- ToDo Lists App --</p>
      </div>
    </footer>
  </body>
</html>
